body{
    background-color:rgb(227, 221, 221);

}

.home{
    height:100vh;
    background: linear-gradient(
        rgba(0,0,0,0.7), 
        rgba(0,0,0,0.2)), 
        url('../images/bg.jpeg');
    background-size: cover;
}

.intro{
    color:rgb(248, 241, 241);
    padding:10% 20%;
    text-align:justify;
    font-size:20px;
    font-weight: 450;;
}

.name{
    font-size: 4em;
    font-weight: 500;
}